<div class="upload-status-main">
    <div class="us-heading">Upload Status</div>
    <div class="us-section">
        <div class="us-section-title"><span class="course_code">22ECS212</span> - Machine Learning</div>
        <div class="us-subsection">
            <div class="us-section-subtitle">Minor 1 : </div>
            <div class="us-section-content">
                <div class="us-section-swatch">
                    <div class="us-section-name">A</div>
                    <div class="us-section-icon"><img src="../../assets/icons/ok.svg" alt="completed"></div>
                </div>
                <div class="us-section-swatch">
                    <div class="us-section-name">B</div>
                    <div class="us-section-icon"><img src="../../assets/icons/ok.svg" alt="completed"></div>
                </div>
                <div class="us-section-swatch">
                    <div class="us-section-name">C</div>
                    <div class="us-section-icon"><img src="../../assets/icons/ok.svg" alt="completed"></div>
                </div>
                <div class="us-section-swatch">
                    <div class="us-section-name">D</div>
                    <div class="us-section-icon"><img src="../../assets/icons/ok.svg" alt="completed"></div>
                </div>
                <div class="us-section-swatch">
                    <div class="us-section-name">E</div>
                    <div class="us-section-icon"><img src="../../assets/icons/cancel.svg" alt="not completed"></div>
                </div>
            </div>
        </div>
    </div>

</div>